@import "tailwindcss";
@source '../**/*.{js,ts,jsx,tsx}';

@import "tw-animate-css";

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
